<a href="<%- url_for(post.path) %>" target="_blank">
    <div class="blog-post__image-container" style="background-image: url(<%= post.thumb %>)">
         <div class="blog-post__image-overlay">
         </div>
    </div>
</a>