<% if (site.categories.length){ %>
  <div class="sidebar__widget">
    <h5 class="widget-title"><%= __('categories') %></h5>
    <div class="widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
