<% if (site.tags.length){ %>
  <div class="sidebar__widget">
    <h5 class="widget-title"><%= __('tagcloud') %></h5>
    <div class="widget tagcloud">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>