
<nav class="navbar navbar-default hidden-md hidden-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">LOGO</a>
        </div>
        <div class="hidden-sm hidden-xs container">
            <a class="navbar-brand" href="#">LOGO</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <% if (theme.slogon){ %>
                        <div class="text-center">
                            <% for (var i in theme.slogon) { %>
                            <p>
                                <%= theme.slogon[i] %><br/>
                            </p>
                            <% }%>
                        </div>
                        <% }%>

                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>